<!doctype html>
<html lang=en prefix='og: http://ogp.me/ns#'>
    <head>
        <title>Forget</title>
        <link rel='stylesheet' href='{{ st("styles.css") }}' />
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='icon' href='{{ st("icon.png") }}' />
        <meta name='og:title' content='Forget'/>
        <meta name='og:description' content='Let your old bad posts be forgotten'/>
        <meta name='og:image' content='{{ st("logotype.png", _external=True) }}'/>
        <meta name='og:image:alt' content='Forget'/>
        <meta name='og:type' content='website' />
        <meta name='twitter:card' content='summary' />
        <meta name='twitter:site:id' content='808418'/>

        {% if sentry -%}
        <script defer src="https://cdn.ravenjs.com/3.17.0/raven.min.js" crossorigin="anonymous"></script>
        <script defer src="{{ url_for('sentry_setup') }}"></script>
        {% endif -%}
        {% block scripts %}{% endblock %}
    </head>
{%- from 'lib/picture.html' import picture %}
    <body>
        <header>
            <h1>
                <a href="
                {%- if g.viewer -%}
                    {{url_for('index')}}
                {%- else -%}
                    {{url_for('about')}}
                {%- endif -%}
                ">
                    {{ picture(st, 'logotype', (200,400,600,800), ('webp','jpeg'), '200px', alt='forget') }}
                </a>
            </h1>
        </header>
        {% block body %}{% endblock %}
        <footer>
            <p>
                Forget <a href='{{repo_url}}'>{{version or "dev"}}</a>
                · <a href="{{url_for('about')}}">About</a>
                · <a href="{{url_for('privacy')}}">Privacy</a>
            </p>
            <p>Report issues <a href='https://github.com/codl/forget/issues'>on Github</a>
               or directly to codl on
                    <a href="https://twitter.com/codl">Twitter</a>,
                    <a href="https://chitter.xyz/@codl">Mastodon</a>,
                    or by <a href="mailto:codl@codl.fr">Email</a>.
               </p>
        </footer>
    </body>
</html>
