dist: xenial
sudo: true
language: python
python:
    - 3.6
    - 3.7
    - 3.7-dev
install:
    - pip install -r requirements.txt -r requirements-dev.txt
    - npm install
script:
    - pytest --cov=.
after_success:
    - codecov
cache:
    - pip
    - npm
