[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

alembic = "*"
brotli = "*"
celery = "*"
csscompressor = "*"
doit = "*"
flask = "*"
"flask-migrate" = "*"
"flask-sqlalchemy" = "*"
gunicorn = "*"
honcho = "*"
pillow = "*"
"psycopg2" = "*"
raven = "*"
redis = "*"
requests = "*"
sqlalchemy = "*"
twitter = "*"
"mastodon.py" = "*"
blinker = "*"


[dev-packages]

coverage = "*"
coveralls = "*"
pytest = "*"
"pytest-cov" = "*"
"pytest-redis" = "*"

[requires]
python_version = "3.6"
