[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

alembic = "*"
brotli = "*"
celery = "*"
csscompressor = "*"
doit = "*"
flask = "*"
"flask-migrate" = "*"
"flask-sqlalchemy" = "*"
gunicorn = "*"
honcho = "*"
pillow = "*"
"psycopg2" = "*"
raven = "*"
redis = "*"
requests = "*"
sqlalchemy = "*"
twitter = "*"
"mastodon.py" = { file = 'https://github.com/codl/Mastodon.py/archive/2e4467e8e9e63d141f61cd406826039374d2d79c.tar.gz' }
blinker = "*"


[dev-packages]

coverage = "*"
codecov = "*"
pytest = "*"
"pytest-cov" = "*"
"pytest-redis" = "*"

[requires]
python_version = "3.6"
