-i https://pypi.python.org/simple/
attrs==20.2.0
certifi==2020.6.20
chardet==3.0.4
codecov==2.1.10
coverage==5.1
idna==2.10
mirakuru==2.3.0
more-itertools==8.6.0
packaging==20.4
pluggy==0.13.1
port-for==0.4
psutil==5.7.3 ; sys_platform != 'cygwin'
py==1.9.0
pyparsing==2.4.7
pytest-cov==2.9.0
pytest-redis==2.0.0
pytest==5.4.2
redis==3.4.1
requests==2.23.0
six==1.15.0
urllib3==1.25.11
versioneer==0.18
wcwidth==0.2.5
