attrs==18.1.0
certifi==2018.4.16
chardet==3.0.4
codecov==2.0.15
coverage==4.5.1
idna==2.6
mirakuru==0.9.0
more-itertools==4.1.0
pluggy==0.6.0
port-for==0.4
psutil==5.4.5
py==1.5.3
pytest-cov==2.5.1
pytest-redis==1.3.2
pytest==3.5.1
redis==2.10.6
requests==2.18.4
six==1.11.0
urllib3==1.22
versioneer==0.18
