-i https://pypi.python.org/simple/
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
codecov==2.1.11
coverage==5.1
idna==2.10
iniconfig==1.1.1
mirakuru==2.3.0
packaging==20.9
pluggy==0.13.1
port-for==0.4
psutil==5.8.0 ; sys_platform != 'cygwin'
py==1.10.0
pyparsing==2.4.7
pytest-cov==2.10.1
pytest-redis==2.0.0
pytest==6.2.2
redis==3.5.3
requests==2.25.1
toml==0.10.2
urllib3==1.26.3
versioneer==0.19
