{% from 'lib/picture.html' import picture %}
{% extends 'lib/layout.html' %}
{% block body %}

<section>
{% include "lib/greet.html" %}
    <p>Forget is a service that automatically deletes your old posts that everyone has forgotten about. Shouldn't databases forget too?</p>
</section>

<section>
<h2>Features</h2>
<ul>
    <li>Delete your stale bad posts without even having to look at them again!</li>
    <li>Set it and <em>forget</em> it. Once you set up an post age limit and/or a post count limit, posts will be considered for deletion as soon as they age past these limits.</li>
    <li>Choose your pace: delete one post every minute, one post a day, etc...</li>
    <li>Optionally mark posts that you want to keep, by giving them a like / favourite / florp.</li>
    <li>Optionally keep posts with media.</li>
</ul>
</section>

{% if not g.viewer %}
<section>
<h2 id="sign_in">Sign in</h2>
{% if twitter_login_error %}
<div class="banner error">
    Sorry, something went wrong when communicating with Twitter. Give it another shot, maybe?
</div>
{% endif %}

<p>
<a style='background-color:#1da1f2' class='login-btn' href="/login/twitter">
    <span class='login-btn-header'>
        {{picture(st, 'twitter', (20,40,80), ('webp', 'png'))}}
    </span><span class='login-btn-content'>Log in with Twitter</span>
</a>
</p>

<p>

{% for instance in mastodon_instances %}
<a style='background-color:#282c37' class='login-btn' href="{{ url_for('mastodon_login_step1', instance_url=instance.instance) }}">
{% if loop.first %}
    <span class='login-btn-header'>
        {{picture(st, 'mastodon', (20,40,80), ('webp', 'png'))}}
    </span><span class='login-btn-content'>Log in with
{% else %}
    <span class='login-btn-content'>
{% endif %}
        {{instance.instance}}</span>
</a>
{% endfor %}

<a style='background-color:#ddd; color:inherit;' class='login-btn' href="{{ url_for('mastodon_login_step1') }}">
    <span class='login-btn-content'>Another Mastodon instance</span>
</a>
</p>
</section>
{% endif %}

<section class='policy'>
<h2>Pledge & Privacy Policy</h2>
<p>Forget does not post, follow, or do anything with your account other than its job: deleting posts. For it to function, Forget needs to retrieve and store some metadata about each of your posts:</p>
<ul>
    <li>A unique post identifier</li>
    <li>The post's time and date of publishing</li>
    <li>Whether the post has any media attached</li>
    <li>Whether the post has been favourited by you</li>
    <li>(Mastodon only) Whether the post is a direct message</li>
</ul>
<p>No other post metadata and no post contents are stored by Forget.</p>
</section>

{% endblock %}
