{% from 'lib/picture.html' import picture %}
{% extends 'lib/layout.html' %}
{% block body %}

<section>
{% include "lib/greet.html" %}
    <p>Forget is a service that automatically deletes your old posts that everyone has forgotten about. Shouldn't databases forget too?</p>
</section>

<section>
<h2>Features</h2>
<ul>
    <li>Delete your stale bad posts without even having to look at them again!</li>
    <li>Set it and <em>forget</em> it. Once you set up an post age limit and/or a post count limit, posts will be considered for deletion as soon as they age past these limits.</li>
    <li>Choose your pace: delete one post every minute, one post a day, etc...</li>
    <li>Optionally mark posts that you want to keep, by giving them a like / favourite / florp.</li>
    <li>Optionally keep posts with media.</li>
</ul>
</section>

{% if not g.viewer %}
<section>
<h2 id="sign_in">Sign in</h2>
{% if twitter_login_error %}
<div class="banner error">
    Sorry, something went wrong when logging you in with Twitter. Give it another shot, maybe?
</div>
{% endif %}

<p>
<a style='background-color:#1da1f2' class='btn primary' href="/login/twitter">
    {{picture(st, 'twitter', (20,40,80), ('webp', 'png'))}}
    Log in with Twitter
</a>
</p>

<p>

{% for instance in mastodon_instances %}
<a style='background-color:#282c37' class='btn primary' href="{{ url_for('mastodon_login_step1', instance_url=instance) }}">
{% if loop.first %}
    {{picture(st, 'mastodon', (20,40,80), ('webp', 'png'))}}
    Log in with
{% endif %}
        {{instance}}
</a>
{% else %}
<a style='background-color:#282c37' class='btn primary' href="{{ url_for('mastodon_login_step1') }}">
    {{picture(st, 'mastodon', (20,40,80), ('webp', 'png'))}}
    Log in with Mastodon
</a>
{% endfor %}

{% if mastodon_instances %}
<a class='btn secondary' href="{{ url_for('mastodon_login_step1') }}">
    Another Mastodon instance
</a>
{% endif %}

</p>
</section>
{% endif %}
{% endblock %}
