<h1>Forget</h1>

{% if g.viewer %}
    <p>Hello,
    <img src="{{g.viewer.account.remote_avatar_url}}" style='height:1.5em; border-radius:100%; transform:translateY(25%);'/>
    {{g.viewer.account.remote_display_name}}!
    <a href="{{url_for('settings')}}">Settings</a>
    <a href="{{url_for('logout')}}">Log out</a>
    </p>

    <h2>Recent posts ({{g.viewer.account.post_count()}} total posts):</h2>

    {% for post in posts %}
        <p>{{post.body}}</p>
    {% else %}
        <p>no posts :(</p>
    {% endfor %}
{% else %}
    <p>Hello, stranger! <a href="/login/twitter">Log in with Twitter</a></p>
{% endif %}
