{% extends 'lib/layout.html' %}
{% block body %}

<section>
    <p>Hello, stranger! </p>
    <p>Forget is a service that automatically deletes your old posts once everyone has forgotten about them. After all, why shouldn't computers forget too?</p>
</section>

<section>
<h2>Features</h2>
<ul>
    <li>Delete your stale bad posts without even having to look at them again. Old posts are deleted periodically at a rhythm that you define</li>
    <li>Pick between deleting posts when they are older than a date, posts past a post count, or both</li>
    <li>Optionally mark posts that you want to preserve forever, by giving them a like / favourite / florp</li>
    <li>Optionally keep posts with media forever</li>
    <li>Upload a tweet archive if your twitter account has more tweets than the twitter api will return</li>
    <li><a href="https://github.com/codl/forget">Free and Open Source software</a></li>
</ul>
</section>

<section>
<h2 id="sign_in">Sign in</h2>
{% if twitter_login_error %}
<div class="banner error">
    Sorry, something went wrong when communicating with Twitter. Give it another shot, maybe?
</div>
{% endif %}

<p>Sound good to you?</p>
<p>
<a style='background-color:#1da1f2' class='btn' href="/login/twitter">
    <span class='btn-header'>
        <img src='{{ st('twitter.png') }}'>
    </span><span class='btn-content'>Log in with Twitter</span>
</a>
</p>

<p>
{% for instance in mastodon_instances %}


<a style='background-color:#282c37' class='btn' href="{{ url_for('mastodon_login_step1', instance_url=instance.instance) }}">
{% if loop.first %}
    <span class='btn-header'>
        <img src='{{ st('mastodon.png') }}'>
    </span><span class='btn-content'>Log in with
{% else %}
    <span class='btn-content'>
{% endif %}
        {{instance.instance}}</span>
</a>

{% endfor %}

<a style='background-color:#ddd; color:inherit;' class='btn' href="{{ url_for('mastodon_login_step1') }}">
    <span class='btn-content'>Another Mastodon instance</span>
</a>
</p>
</section>
<section class='policy'>
<h2>Policy</h2>
<p>Forget will only start deleting posts if and when you explicitly enable it on this page. Forget will not post as you, follow any account or do anything else than delete posts.</p>
</section>

{% endblock %}
