{% extends 'lib/layout.html' %}
{% block body %}

<section>
    <p>Hello, stranger! </p>
    <p>Forget is a service that automatically deletes your old posts once everyone has forgotten about them. After all, why shouldn't computers forget too?</p>
</section>

<section>
<h2>Features</h2>
<ul>
    <li>Delete your stale bad posts without even having to look at them again</li>
    <li>Pick between deleting every old post or randomly deleting one old post periodically</li>
    <li>Pick between deleting posts older than a date, posts past a post count, or both</li>
    <li>Optionally mark posts that you want to preserve forever, by giving them a like</li>
    <li>Optionally keep posts with media forever</li>
    <li>Upload a tweet archive if your twitter account has more tweets than the twitter api will return</li>
    <li><a href="https://github.com/codl/forget">Free and Open Source software</a></li>
</ul>
</section>

<section>
<h2 id="sign_in">Sign in</h2>
{% if twitter_login_error %}
<div class="banner error">
    Sorry, something went wrong when communicating with Twitter. Give it another shot, maybe?
</div>
{% endif %}

<p>Sound good to you?
    <a href="/login/twitter">Log in with Twitter</a>
    <a href="{{ url_for('mastodon_login_step1') }}">Log in with Mastodon</a>
</p>
</section>
<section class='policy'>
<h2>Policy</h2>
<p>Forget will only start deleting posts if and when you explicitly enable it on this page. Forget will not post as you, follow any account or do anything else than delete posts.</p>
<p>
</section>

{% endblock %}
