{% extends 'lib/layout.html' %}
{% block body %}

<section>
{% include "lib/greet.html" %}
</section>

<section>
<h2>Pledge & Privacy Policy</h2>
<p>Forget does not post, follow, or do anything with your account other than its job: deleting posts. For it to function, Forget needs to retrieve and store some metadata about each of your posts:</p>
<ul>
    <li>A unique post identifier</li>
    <li>The post's time and date of publishing</li>
    <li>Whether the post has any media attached</li>
    <li>Whether the post has been favourited by you (only Twitter or Mastodon); or if (not how) you reacted to the post (Misskey only)</li>
    <li>Whether the post is a direct message (only Mastodon or Misskey)</li>
</ul>
<p>No other post metadata and no post contents are stored by Forget.</p>

<p>Last updated on 2021-11-11. <a href="https://github.com/codl/forget/commits/master/templates/privacy.html">History</a>.</p>
</section>

{% endblock %}
