#!/bin/sh

export GIT_DIR=$(git rev-parse --absolute-git-dir)

while read old new refname; do
    branch=$(git rev-parse --abbrev-ref=strict ${refname})
    if [[ $branch == "deploy" ]]; then

        systemctl --user stop forget
        GIT_WORK_TREE='/home/codl/forget' git checkout -f deploy

        (
            cd /home/codl/forget
            source venv/bin/activate
            pip install -r requirements.txt
            tools/write-version.sh
            FLASK_APP='forget.py' flask db upgrade
            if [[ $(git diff --name-only ${old}..${new} dodo.py) == 'dodo.py' ]]
            then
                doit forget
            fi
            doit
        )
        systemctl --user start forget
    fi
done

